<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookhaus - Preguntas Frecuentes </title>
    <meta name="description" content="Toda la información necesaria para que compres en nuestra tienda">
    <meta name="keywords" content="tienda, preguntas, compras, online, libros">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a330ed4ae8.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
  <!-- HEADER-->
  <header id="headerEstilo">
    <div class="container-fluid navbar-light">
      <nav class="navbar navbar-expand-lg container" >
          <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="../imagenes/logoFinal.png" alt="Logo Bookhaus"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-center" >
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="../index.html" id="menuEstilo">HOME</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="./catalogo.html" id="menuEstilo">CATÁLOGO</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="./novedades.html" id="menuEstilo">NOVEDADES</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="./preguntasfrecuentes.html" id="menuEstilo">PREGUNTAS FRECUENTES</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="./contacto.html" id="menuEstilo">CONTACTO</a>
                </li>
                </ul>
              </div>
            </div>
          </nav>
      </div>
  </header>
  <!--TEXTO PREGUNTAS FRECUENTES-->
    <main class="parrafos"> 
        <h1 class="parrafos__titulos">Preguntas Frecuentes</h1>
        <p class="parrafos__subtitulos">ENVÍOS DURANTE LA CUARENTENA</p>
        <p class="parrafos__texto"> Estamos realizando envíos durante la cuarentena, los mismos son únicamente a domicilio. La empresa de encomiendas (BlueMail o motomensajería) pasa a retirar los pedidos por nuestro showroom una sola vez por semana (generalmente los miércoles). Una vez que los retiran, se procesan y comienza su distribución. A partir de aquí pueden demorar entre 5 y 10 días hábiles dependiendo de a dónde es el envío (dentro de C.A.B.A. llega a los 2-4 días hábiles, Gran Buenos Aires 3-7 días hábiles, al interior del país entre 5-10 días hábiles). 
        Y si estás cerca, también se puede pasar a retirar por el showroom, por el momento únicamente con cita previa. Estamos en Villa Crespo a unas cuadras de Corrientes y Scalabrini Ortiz.
        </p>
        <p class="parrafos__subtitulos">CÓMO COMPRAR</p>
        <p class="parrafos__texto"> Para comprar a través de la Tienda Online no es necesario estar registrado. Primero tenés que encontrar los libros que te interesen e ir agregándolos al carrito. 
        Una vez que ya agregaste los que te gustan, tenés que apretar "Iniciar Compra".
        Una vez que apretaste iniciar compra estás en el checkout, momento de ingresar tus datos para el envío y la facturación, y a la derecha te aparecerá la casilla para ingresar un cupón si hay alguno vigente. Una vez que ingresaste todo, apretás "Continuar" y luego elegís el método de pago de tu preferencia.
        </p>
        <p class="parrafos__subtitulos">MEDIOS DE PAGO</p>
        <p class="parrafos__texto"> A través de MercadoPago podés abonar con tarjeta de crédito o débito y en efectivo por Rapipago, Pago fácil, Carga Virtual, Provincia.NET y por RedLink. Algunas acreditaciones no son instantáneas, tené esto en cuenta al momento de calcular los tiempos de envío y de retiro. También podés abonar por transferencia bancaria (no por MercadoPago) y se te hará un descuento automáticamente al final del check-out cuando elegís esa opción (los datos para la transferencia aparecen al finalizar la compra).
        </p>
        <p class="parrafos__subtitulos">POLÍTICA DE DEVOLUCIÓN</p>
        <p class="parrafos__texto"> Solo se realizan cambios si el libro o artículo comprado presenta algún tipo de defecto de fabricación anterior a la compra (fallas en la encuadernación, falta de páginas, etc.). Dicho artículo se cambiará por uno igual (en caso de que haya disponible) u otro del mismo valor. El comprador tiene un plazo de 10 días corridos desde la fecha de la compra para hacer efectivo el cambio. 
        </p>
        <div class="animacion">
            <p class="animacion__texto">"A book is a dream that you hold in your hands". <br> 
            Neil Gaiman</p>
        </div>
        <div class="whatsapp">
            <a  href="https://api.whatsapp.com/send?phone=5199999999" target="_blank"> <img class="whatsapp__link" src="../imagenes/logoWhatsapp.png" alt="Logo Whatsapp"></a>
        </div>   
    </main>
    <!--FOOTER-->
    <footer class="pt-5 pt-4" id="footer">
      <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">
          <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-1" id="footerContenedores">
          <h2 id="footerTitulos">NOSOTROS</h2>
          <p class="footerTexto">Somos una tienda online de libros en su idioma original. <br> Elegimos cada libro especialmente con amor y dedicación <br><br>♥</p>
          </div>
          <div class="col-md-2 col-lg-4 col-xl-4 mx-auto mt-1" id="footerContenedores">
            <h2 id="footerTitulos">CATEGORÍAS</h2>
            <p class="footerP"> <a href="../index.html" class="footerP style="text-decoration: none;">HOME</a> 
            </p>
            <p class="footerP"> <a href="./catalogo.html" class="footerP style="text-decoration: none;">CATÁLOGO</a> 
            </p>
            <p class="footerP"> <a href="./novedades.html" class="footerP style="text-decoration: none;">NOVEDADES</a> 
            </p>
            <p class="footerP"> <a href="./preguntasfrecuentes.html" class="footerP" style="text-decoration: none;">PREGUNTAS FRECUENTES</a> 
            </p>
            <p class="footerP"> <a href="./contacto.html" class="footerP style="text-decoration: none;">CONTACTO</a> 
            </p>
          </div>
        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-1" id="footerContenedores">
          <h2 id="footerTitulos">CONTACTO</h2>
          <p class="footerTexto"> <i class="fas fa-map-marker-alt mr-3"></i>Aráoz 199 - CABA - (1414)</p>
          <p class="footerTexto"> <i class="far fa-envelope fa-fw mr-3"></i>bookhausarg@gmail.com</p>
          <p class="footerTexto"> <i class="fas fa-phone-alt fa-fw mr-3"></i>(+54 11) 4567-8908</p>
        </div>
        </div>
        <hr class="mb-4">
        <div class="row align-item-center">
          <div class="col-md-7 col-lg-8">
            <p id="textoCopyright">&copy; Copyright 2021 | Todos los derechos reservados a BOOKHAUS | Diseñado por Antonela Busso</p>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="text-center text-md-right">
              <ul class="list-unstyled list-inline">
                <li class="list-inline-item">
                  <a href="https://www.instagram.com/bookhaus.arg/" target="_blank" class="btn-floating btn-sm" style="font-size: 25px;"><i id="iconos" class="fab fa-instagram-square fa-fw"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/bookhausarg/" target="_blank" class="btn-floating btn-sm" style="font-size: 25px;"><i  id="iconos"class="fab fa-facebook-square fa-fw" ></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="https://twitter.com/" target="_blank" class="btn-floating btn-sm" style="font-size: 25px;"><i id="iconos"class="fab fa-twitter-square fa-fw"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>